@import "tailwindcss";

@theme {
  --color-vacciman-blue: #0b468c;
  --color-vacciman-blueDark: #073266;
  --color-vacciman-green: #8cc63f;
  --color-vacciman-greenLight: #a3d959;
  --color-vacciman-slate: #0f172a;
  --color-vacciman-bgLight: #f8fafc;
}

/* Your custom CSS styles can go here below the configuration */